* {box-sizing: border-box;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F0ECE5;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #D63333;
}

hr{
  border: 1px solid #D63333;
}

.wrapper {
  background-color: deeppink;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-areas:
  "nav nav nav nav"
  "header header header  header"
  ". logo logo ."
}

.header {
  grid-area: header;
}

.logo {
  grid-area: logo;
  background-color: red;
}
